hmtl
    head
    body
        table(style='width:100%', border='1')
            tr 
                th="Country"
                th=parametr
            for country in countries
                tr
                    th=country[0]
                    th=country[1]